@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  #navmenu {
    height: 52px;
  }
  #navmenu ion-col .mybtn {
    // background-color: yellowgreen;
    // height: 52px;
  }

  ion-grid {
    // background-color: red;
    --ion-grid-padding: 0 0;
    margin-bottom: 0px;
  }

  .header {
    width: 100% !important;
    margin: 0 0;
    //  display: flex;
    background-color: #f1f1f1;

    border: 1px solid #3a3939;
    // position: relative;
    // top: 17px;
    bottom: 1px;

    ion-col .mybtn {
    }

    .btn {
      // height: 65px;

      //--vertical-align: middle;
      // --padding-start: 0px;
      // --padding-end: 0px;
    }
  }

  @-moz-document url-prefix() {
    .desktop .row-traduction {
      position: relative;
      bottom: 25px;
      left: 58%;
    }
    ion-grid .last-row {
      position: relative;
      // bottom: 23px;
      top: -20px;
      padding: 0px;
      margin: 0px;
    }
    .header1 {
      position: relative;
      top: 20px;
      ion-col {
        max-height: 10% !important;

        div {
          ion-button {
            // height: 62px;

            margin: 0px;
            font-size: 10px;
            font-weight: bold;
          }
          img {
            height: 60% !important;
            object-fit: cover;
            width: 40% !important;
          }
        }
      }
    }
    .logo-site {
      position: relative;
      bottom: 20px;
    }

    .phone {
      position: relative;
      top: 20px;
    }
    .newheader {
      width: 100% !important;
      margin: 0 0;
      display: flex;
      background-color: #f1f1f1;

      border: 1px solid #3a3939;
      position: relative;
      top: -20px;
      //bottom: 1px;
      img {
        //object-fit: fill;
      }
      .mybtn {
        --ion-grid-padding: 0 0;
        margin-bottom: 0px;
        margin-top: 0px;
        // max-height: 60px !important;
        ion-button {
          color: var(--ion-color-dark);
          border: 1px solid black;
          height: 40px !important;
          position: relative;
          bottom: 7px;
          margin: 0px;
          font-size: 10px;
          font-weight: bold;
          min-width: 8%;
        }
      }
    }

    #navmenu {
      height: 40px !important;
    }
    .last-row {
      position: relative;
      top: -65px;
    }
    .btn-dropdown {
      //  position: relative;
      // top: 100px;
      // left: var(--my-var);
      z-index: 1;
      div {
        width: 100%;
        // height: 110px;
        background: #fff;
        position: relative;
        top: -50px;
        left: 2%;
        p {
          font-size: 11px;
          padding-bottom: 10px;
          padding-top: 10px;

          margin: auto;
        }

        p:hover {
          color: var(--ion-color-primary);
        }
      }
    }
  }

  .btn-dropdown {
    top: 40px !important;
  }
}

@media (max-width: 768px) {
  .logo-mobile {
    ion-img {
      height: 100%;
      object-fit: cover;
      width: 35%;
      position: relative;
      left: 30%;
    }
  }

  .mobile-header {
    display: block;
  }
  .header {
    display: none;
  }
  .header1 {
    display: none;
  }
  .desktop {
    display: none;
  }
}

.active-item {
  // border-bottom: 2px solid var(--ion-color-primary);

  background: var(--ion-color-primary);
  color: var(--ion-color-light) !important;
}

.btn {
  height: 50px;
  // padding: 8px 24px;
  // margin: 0px;
}
.col1 {
  // border: 1px solid blue;
  display: flex;
}

.mballus {
  img {
    width: 200px;
    height: 600px;
    object-fit: cover;
  }
}

.selector:not(*:root),
.newheader {
  display: none;
  width: 100% !important;
  margin: 0 0;
  display: flex;
  background-color: #f1f1f1;

  border: 1px solid #3a3939;
  position: relative;

  top: -15px;
  // bottom: 1px;

  ion-col .mybtn {
    --ion-grid-padding: 0 0;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  ion-button {
    color: var(--ion-color-dark);
    border: 1px solid black;
    height: 50px;
    position: relative;
    bottom: 7px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    min-width: 8%;
  }
  .btn {
    height: 65px;

    //--vertical-align: middle;
    // --padding-start: 0px;
    // --padding-end: 0px;
  }
}

.selector:not(*:root),
.last-row {
  position: relative;
  top: -34px;
  // left: 35%;
  // background-color: rgb(255, 0, 191);
  // width: 15%;
  padding: 0px;
  margin: 0px;
}
.selector:not(*:root),
.btn-dropdown {
  // z-index: 1;
  // background-color: chartreuse;
  width: 100%;
  height: 100%;
  div {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    top: -30px;
    left: 3%;
    p {
      font-size: 13px;
      padding-bottom: 10px;
      padding-top: 10px;

      margin: auto;
    }

    p:hover {
      color: var(--ion-color-primary);
    }
  }
}

.selector:not(*:root),
.row-traduction {
  position: relative;
  bottom: 65px;
  left: 55%;
}

.selector:not(*:root),
.header1 {
  ion-col {
    max-height: 10% !important;
    // background-color: yellowgreen;
    img {
      height: 100%;
      object-fit: cover;
      width: 35%;
    }
  }
}

.selector:not(*:root),
.mybtn {
  ion-button {
    bottom: 5px;
    margin: 0px;
    font-size: 12px;
  }
}

.dropdown {
  // display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
.col1 {
  width: 100%;
  // border: 1px solid black;

  .col1-item {
    //flex: 1 1 0;
    // width: 0;
    // padding: 10px;
    ion-button {
      //  font-size: 12px;
    }
  }
}
