@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  ion-grid {
    // background-color: red;
    --ion-grid-padding: 0 0;
    margin-bottom: 0px;
  }
  .header {
    background-color: yellow;
    width: 100% !important;
    margin: 0 0;
    display: flex;
    background-color: #f1f1f1;

    border: 1px solid #3a3939;
    position: relative;
    top: 17px;
    //bottom: 1px;
    img {
      height: auto;
    }
    ion-col {
      --ion-grid-padding: 0 0;
      margin-bottom: 0px;
      margin-top: 0px;
      max-height: 60px !important;
    }
    ion-button {
      color: var(--ion-color-dark);
      border: 1px solid black;
      height: 62px !important;
      position: relative;
      bottom: 7px;
      margin: 0px;
      font-size: 20px;
      font-weight: bold;
    }
    .btn {
      height: 65px !important;

      //--vertical-align: middle;
      --padding-start: 0px;
      --padding-end: 0px;
    }
    .btn2 {
    }
  }
  .colflex {
    display: flex;
  }
}

@media (max-width: 768px) {
  .mobile-header {
    display: block;
  }

  .header {
    display: none;
  }
}

.active-item {
  // border-bottom: 2px solid var(--ion-color-primary);

  background: var(--ion-color-primary);
  color: var(--ion-color-light) !important;
}

.dropdown {
  width: 136px;
  height: 150px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 400px;
  z-index: 1;
  ion-item:hover {
    --ion-item-color: var(--ion-color-primary);
  }
}
.btn {
  height: 50px;
  // padding: 8px 24px;
  margin: 0px;
}
.col1 {
  // border: 1px solid blue;
  display: flex;
}
