<ion-header class="mobile-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="header1">
    <ion-col offset="1" size="2" class="ion-align-self-center colflex">
      <div class="col1">
        <div class="col1-item">
          <ion-button
            class="underlinetexte"
            href=""
            fill="clear"
            color="primary"
          >
            <a href="">TEL:+237 699 641 013</a>
            <ion-icon slot="start" name="call-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="col1-item">
          <ion-button
            fill="clear"
            color="primary"
            routerLink="/contacts"
            routerDirection="root"
          >
            <a href=""> {{ "MENU.Contact" | translate }} us</a>
            <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-col>
    <ion-col size="5">
      <div class="ion-text-center mballus logo-site">
        <img src="../../../assets/logosite.jpg" />
      </div>
    </ion-col>
    <ion-col size="4" class="ion-align-self-center"> </ion-col>
  </ion-row>
  <ion-row class="row-traduction">
    <ion-col size="2">
      <div class="ion-text-uppercase ion-text-center">
        <ion-button fill="outline" color="danger">
          GIVE IN HONOR & MEMORIAL</ion-button
        >
      </div>
    </ion-col>
    <ion-col
      class="btn-donate"
      size="2"
      class="ion-text-uppercase ion-text-center"
    >
      <div class="ion-text-center">
        <ion-button color="danger" routerLink="/donate" routerDirection="root">
          <ion-icon slot="start" name="heart-outline"></ion-icon>
          {{ "MENU.Donate" | translate }}</ion-button
        >
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
        <ion-button
          #productbtn
          (click)="dropdown = !dropdown"
          (mouseleave)="hideDropdown($event)"
          fill="clear"
          routerDirection="root"
          routerLinkActive="active-item"
        >
          {{ language }}
          <ion-icon
            slot="end"
            [name]="dropdown ? 'chevron-down' : 'chevron-up'"
          ></ion-icon>
        </ion-button>
        <div
          *ngIf="dropdown"
          class="dropdown"
          (mouseleave)="dropdown = false"
          #dropdownbox
        >
          <ion-item (click)="selectLanguage('fr')" lines="none">
            FR
            <ion-checkbox slot="end" [(ngModel)]="FR"></ion-checkbox>
          </ion-item>
          <ion-item (click)="selectLanguage('en')" lines="none">
            EN
            <ion-checkbox slot="end" [(ngModel)]="EN"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row id="navmenu" class="newheader ion-align-items-center">
    <ion-col size="12" class="ion-text-center mybtn">
      <ion-button
        (mouseenter)="closeSousMenu()"
        fill="clear"
        routerLink="/"
        routerDirection="root"
        routerLinkActive="active-item"
        [routerLinkActiveOptions]="{ exact: true }"
        (mouseenter)="about_dropdown = false"
      >
        {{ "MENU.Home" | translate }}
      </ion-button>

      <ion-button
        #aboutbtn
        (click)="about_dropdown = !about_dropdown"
        (mouseleave)="hideAboutDropdown($event)"
        fill="clear"
        routerLinkActive="active-item"
      >
        {{ "MENU.About" | translate }}
        <ion-icon
          slot="end"
          [name]="about_dropdown ? 'chevron-down' : 'chevron-up'"
        ></ion-icon>
      </ion-button>

      <ion-button
        (mouseenter)="closeSousMenu()"
        fill="clear"
        routerLink="/activity"
        routerDirection="root"
        routerLinkActive="active-item"
      >
        {{ "MENU.Activity" | translate }}
      </ion-button>
      <ion-button
        (mouseenter)="closeSousMenu()"
        fill="clear"
        routerLink="/impact"
        routerDirection="root"
        routerLinkActive="active-item"
      >
        {{ "MENU.Impact" | translate }}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="last-row">
    <ion-col
      offset="5"
      size="1"
      class="btn-dropdown"
      *ngIf="about_dropdown"
      (mouseleave)="closeSousMenu()"
    >
      <div #sousmenu class="ion-text-center" (mouseleave)="closeSousMenu()">
        <p
          text-center
          (click)="about_dropdown = false"
          routerLink="/about"
          [queryParams]="{ category: 'overview' }"
          lines="none"
          routerDirection="root"
        >
          OVERVIEW
        </p>
        <p
          text-center
          (click)="about_dropdown = false"
          routerLink="/ourteam"
          [queryParams]="{ category: 'our-team' }"
          lines="none"
          routerDirection="root"
        >
          OUR TEAM
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
