@media (min-width: 768px) {
  ion-router-outlet {
    margin-top: 203px;
  }
  @-moz-document url-prefix() {
    .content {
      height: 100%;
      position: relative;
      top: 2% !important;
      ion-router-outlet {
        margin-top: 133px !important;
      }
      app-header {
        margin-bottom: 15% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  ion-router-outlet {
    margin-top: 56px;
  }
}

.active-item {
  color: var(--ion-color-primary);
  font-weight: 500;
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.couleur {
  background: var(--ion-color-tertiary-tint);
  color: red;
}
app-header {
  // background: var(--ion-color-tertiary-tint);
}
