@media (min-width: 768px) {
  ion-router-outlet {
    margin-top: 200px;
  }
}

@media (max-width: 768px) {
  ion-router-outlet {
    margin-top: 56px;
  }
}

.active-item {
  color: var(--ion-color-primary);
  font-weight: 500;
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.couleur {
  background: var(--ion-color-tertiary-tint);
  color: red;
}
