<div class="bg-donate cn">
  <!--
    
       <div class="bg-donate">
    <div class="container forms"></div>
    <div class="outer">
      <div class="middle">
        <div>
          <div class="ion-text-center">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          </div>
        </div>
      </div>
    </div>
  </div>
   <ion-grid>
    <ion-row class="rows">
      <ion-col size="12" class="ion-align-self-center">
        <div class="ion-text-center">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->

  <div class="inner">
    <div id="demo" style="text-align: center">
      <img src="../../../assets/logosite.jpg" alt="" />
    </div>

    <div class="jumbotron">
      <div class="main-first-div">
        <h2 class="title-h2" style="font-size: 14px">
          Cancer screening save lives
        </h2>
      </div>
      <div class="container">
        <div>
          <p class="text-center title-h2" style="font-size: 11px">
            DONATION AMOUNT
          </p>
        </div>
        <form class="needs-validation">
          <div style="text-align: left" class="form-group text-left div-border">
            <label for="uname">Frequency:</label>
            <div class="mybtn-form">
              <div>
                <ion-button expand="full">One Time</ion-button>
              </div>
              <div>
                <ion-button color="dark" expand="full">Monthly</ion-button>
              </div>
            </div>
          </div>

          <div
            style="text-align: left"
            class="form-group text-left div-border amountflex"
          >
            <label for="uname">Amount:</label>
            <input
              type="text"
              class="form-control"
              id="montant"
              name="montant"
              required
              style="border: 0.2px solid #2e2c2c"
            />
            <div class="valid-feedback">Valid montant.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <button
            type="button"
            (click)="validate()"
            class="btn btn-primary btn-lg"
          >
            SAVES
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
