ion-col {
  ion-div {
  }
}
h3 {
  font-weight: bold;
  padding: 0px auto;
}
.main-h {
  color: white;
  font-weight: bold;
  padding: 0px auto;

  text-align: left;
  border-left: 1px solid rgb(95, 118, 248);
  border-width: 15px;
}

.main-contact {
  font-weight: bold;
  padding: 0px auto;

  text-align: left;
  border-left: 1px solid rgb(255, 153, 0);
  border-width: 15px;
}

.overview {
  position: relative;
  left: 25%;
  top: 70%;
}
.main-div {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 18px;
  padding: 16px;
}
ion-item {
  ion-icon {
    // color: rgb(255, 145, 0);
    // background-color: black;
  }
  p {
    font-size: 20px;
    padding: 1px;
  }
  --padding-bottom: 20px;
}
.google-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.form {
  // width: 60%;

  ion-label {
    // display: block;
  }
  ion-input {
    --background: #f3f1f1;
  }
  ion-textarea {
    --background: #f3f1f1;
  }
}
.outer {
  // display: table;
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  //  display: table-cell;
  // vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  /* Whatever width you want */
}
