<ion-content>
  <div class="hero">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3 class="main-h">contact us</h3>
          </div>
        </ion-col>
        <ion-col><div class="ion-text-end ion-text-uppercase"></div></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="center-contain">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
        <div class="ion-text-uppercase ion-text-center">
          <h5>GAHHC Map Here</h5>
          <div>
            <div class="google-map">
              <img src="../../../assets/google-maps.jpg" />
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
        <ion-list lines="none">
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>PHONE</h3>
              </ion-text>
              <p>TEL: 237 699 641 013</p>
            </ion-label>

            <ion-icon name="call-outline" slot="start"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>ADDRESS</h3>
              </ion-text>
              <p>GAHHC Cameroun B.P: 234-Yaoundé</p>
            </ion-label>

            <ion-icon name="location-outline" slot="start"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>EMAIL</h3>
              </ion-text>
              <p>gahhc@gmail.com</p>
            </ion-label>

            <ion-icon name="mail-outline" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="jumbotron">
          <form class="needs-validation">
            <div class="form-group mb-3">
              <label for="uname">Your name:</label>
              <input
                type="text"
                class="form-control"
                id="uname"
                placeholder="Enter username"
                name="uname"
                required
              />
              <div class="valid-feedback">Valid name.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group mb-3">
              <label for="unphone">Phone number:</label>
              <input
                type="text"
                class="form-control"
                id="unphone"
                placeholder="Enter phone number"
                name="unphone"
                required
              />
              <div class="valid-feedback">Valid phone nuber.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group mb-3">
              <label for="mail">Password:</label>
              <input
                type="email"
                class="form-control"
                id="mail"
                placeholder="Enter your mail"
                name="mail"
                required
              />
              <div class="valid-feedback">Valid Email.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group mb-3">
              <label for="mail">Message:</label>

              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="5"
              ></textarea>
              <div class="valid-feedback">Valid message.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <button type="button" (click)="validate()" class="btn btn-primary">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
