ion-col {
  ion-div {
  }
}
h3 {
  color: white;
  font-weight: bold;
  padding-left: 10px;

  text-align: left;
  border-left: 1px solid var(--ion-color-primary);
  border-width: 15px;
}

.main-div {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 18px;
  padding: 16px;
}
ol.c {
  list-style-type: upper-roman;
}
.lelabel {
  width: 100%;
}
.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
ion-item {
  p {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  @-moz-document url-prefix() {
    .g2-activity {
      position: relative;
      bottom: 70px;
    }
    .taille-texte {
      padding-left: 95px;
      margin-top: 10px;
    }
  }

  .g2-activity {
    position: relative;
    bottom: 70px;
    margin-bottom: 70px;
  }
}
.texte {
  font-family: Arial, "New Roman", sans-serif;
  font-size: 2px;
}
.taille-texte {
  font-size: 18px;
  font-family: serif;
  font-style: italic;
}
