<ion-content class="contenu">
  <div class="hero">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>OVERVIEW</h3>
          </div>
        </ion-col>
        <ion-col><div class="ion-text-end ion-text-uppercase"></div></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="center-grid">
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <p class="label-list">
              G.A.H.H.C is a non-profit association or founded by doctor SANJI
              SAMSU ALLEN
            </p>
          </ion-item>
          <ion-item>
            <p class="label-list">
              G.A.H.H.C advocates for health and humanitarian care. Amongst the
              various health and humanitarian activities to help the less
              privileged are activities such as
            </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div class="row">
          <div class="titre">
            <h4></h4>
          </div>
          <div class="col-12">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/boris/imageleft.jpg"
                alt=""
              />

              <div class="card-body">
                <p class="card-text text-uppercase text-center"></p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <p class="label-list">
              1. Health interventions, which comprises of screening, surgical
              interventions, sensitization, consultations as well as treatment.
            </p>
          </ion-item>
          <ion-item>
            <p class="label-list">
              2. Educational assisatance ; provision of educational materials as
              well as assisting the less privileged children and orptans through
              basic aducation. Coca Cola
            </p>
          </ion-item>
          <ion-item>
            <p class="label-list">
              3. Assisting older persons of age 60 and above in less privileged
              communities
            </p>
          </ion-item>
          <ion-item>
            <p class="label-list">
              4. Amongst all of thes activities GAHHC has as main objective the
              FIGHT AGAINST CERVICAL CANCER.
            </p>
          </ion-item>
          <ion-item>
            <p class="label-list">
              5. Cervical cancer, is the most common cancer in women. It’s early
              dignostic helps facilitate treat men.
            </p>
          </ion-item>
          <ion-item>
            <p class="label-list">
              6. Women in less privileged communities with the lack of
              information, die more from cervical cancer.
            </p>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="3">
        <div class="row">
          <div class="titre">
            <h4></h4>
          </div>
          <div class="col-12">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/boris/imageright.jpg"
                alt=""
              />

              <div class="card-body">
                <p class="card-text text-uppercase text-center"></p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container"></div>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-row class="footer-row">
        <ion-col size="1">HELP</ion-col>
        <ion-col size="1">SITE MAP</ion-col>
        <ion-col size="1">PRIVACY POLICY</ion-col>
        <ion-col size="1">ACCESSIBILITY</ion-col>
        <ion-col size="1">TERMS OF USE</ion-col>
        <ion-col size="1">STATE FUNDRAISING NOTICES</ion-col>
        <ion-col size="1">SITE COMMENTS</ion-col>
        <ion-col>
          <div>
            <p>
              © 2021 American Cancer Society, Inc. All rights reserved. The
              American Cancer Society is a qualified 501(c)(3) tax-exempt
              organization. Tax ID Number: 13-1788491. Cancer.org is provided
              courtesy of the Leo and Gloria Rosen family.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
