ion-grid {
  --ion-grid-padding-sm: 20px;
  --ion-grid-padding-md: 30px;
  --ion-grid-padding-lg: 40px;
  --ion-grid-padding-xl: 100px;
}

ion-router-outlet {
}

@-moz-document url-prefix() {
  ion-app {
    ion-router-outlet {
      padding-bottom: 0px;
      margin-bottom: 0px;
      // background-color: yellow;
    }
  }
}
