<ion-content class="bg">
  <div class="hero">
    <ion-grid>
      <ion-row class="row-overview">
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>activities</h3>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="g2-activity">
    <ion-row>
      <ion-col offset-lg="1" offset-md="1" size="12" size-lg="10" size-md="10">
        <div class="intro">
          <p class="texte" style="font-size: 19px">
            {{"MENU.act1" | translate}} :
          </p>

          <p class="texte" style="font-size: 19px">
            <small>Salapoumb</small>, {{"MENU.act2" | translate}}. <br />
            <small>Kentzou</small>, {{"MENU.act3" | translate}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container">
    <div class="row">
      <div class="titre">
        <h4 style="font-size: 19px">{{"MENU.act4" | translate}}</h4>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            class="card-img-top"
            src="../../../assets/boris/IMG-20210519-WA0029.jpg"
            alt=""
          />

          <div class="card-body">
            <p style="font-size: 19px; text-align: center">
              {{"MENU.act5" | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <div class="card">
          <div class="two-image">
            <div>
              <img
                class="card-img-top"
                src="../../../assets/boris/WhatsApp Image 2021-05-24 at 11.52.51.jpeg"
                alt=""
              />
            </div>
            <div><img src="../../../assets/boris/imageleft.jpg" alt="" /></div>
          </div>

          <div class="card-body">
            <p style="font-size: 19px; text-align: center">
              {{"MENU.act6" | translate}}
            </p>
          </div>
        </div>
      </div>
      <!--
        <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img src="../../../assets/boris/IMG-20210519-WA0031.jpg" alt="" />
          <div class="card-body">
            <p class="card-text  text-center">consultation</p>
          </div>
        </div>
      </div>
      -->
    </div>
    <div class="row">
      <div class="titre">
        <h4>{{"MENU.act7" | translate}}</h4>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/consultation (3).jpg"
          alt=""
        />
        <div class="card" style="width: 95%">
          <div class="card-body">
            <p style="font-size: 19px; text-align: center">
              {{"MENU.act8" | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/dentnew.jpeg"
          alt=""
        />
        <div class="card" style="width: 95%">
          <div class="card-body">
            <p style="font-size: 19px; text-align: center">
              {{"MENU.act9" | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/covid19.jpg"
          alt=""
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/sensibilisation cancer.jpeg"
          alt=""
        />
      </div>
      <div class="add-color" style="text-align: center">
        <h5 style="font-size: 19px">{{"MENU.act10" | translate}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/Gahhc_team (1).jpeg"
          alt=""
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/Gahhc_team (2).jpeg"
          alt=""
        />
      </div>
      <div class="add-color" style="text-align: center">
        <h5 style="font-size: 19px">{{"MENU.act11" | translate}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="titre">
        <h4 style="font-size: 19px">{{"MENU.act12" | translate}}</h4>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: auto"
          src="../../../assets/boris/pygnew.jpeg"
          alt=""
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: 100%"
          src="../../../assets/boris/pyg2.jpg"
          alt=""
        />
      </div>
      <h5 class="add-color" style="font-size: 19px">
        {{"MENU.act13" | translate}}.
      </h5>
    </div>
    <div class="row" style="border-bottom: none">
      <div class="titre">
        <h4 style="font-size: 19px">{{"MENU.act14" | translate}}</h4>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="text-center">
          <img
            style="max-width: 100%; height: 100%"
            class="rounded"
            src="../../../assets/boris/covid19.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        <img
          style="max-width: 100%; height: 100%"
          class="rounded"
          src="../../../assets/boris/partagemasque.jpeg"
          alt=""
        />
      </div>
      <h5 class="add-color" style="text-align: center; font-size: 19px">
        {{"MENU.act15" | translate}}
      </h5>
    </div>
  </div>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-row class="footer-row">
        <ion-col sizeLg="2" sizeMd="2" sizeSm="12" sizeXs="12">
          <ion-button style="color: white" fill="clear">
            {{"MENU.Textefooter" | translate}}:
          </ion-button></ion-col
        >
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openFacebook()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            facebook
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button style="color: white" (click)="openTwitter()" fill="clear">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            twitter
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openWhatsapp()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
            whatsapp
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6"
          ><ion-button
            style="color: white"
            (click)="openInstagram()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-instagram"></ion-icon>
            instagram
          </ion-button></ion-col
        >

        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openInstagram()"
            fill="clear"
          >
            <ion-icon slot="start" name="call-outline"></ion-icon>
            TEL:+237 699 641 013
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6"> </ion-col>
      </ion-row>
      <ion-row class="footer-secondRow" style="text-align: center">
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
          ><a href="">HELP</a></ion-col
        >
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <a href="">SITE MAP</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <a href="">PRIVACY POLICY</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <a href="">ACCESSIBILITY</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <a href="">TERMS OF USE</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <a href="">STATE FUNDRAISING</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <a href="">SITE COMMENTS</a>
        </ion-col>
        <ion-col
          sizeLg="5"
          sizeMd="8"
          sizeSm="6"
          sizeXs="6"
          class="ion-align-self-center"
        >
          <div class="ion-text-center">
            <p>{{"MENU.Textefooter2" | translate}}.</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
