<ion-content class="bg">
  <div class="hero">
    <ion-grid>
      <ion-row class="row-overview">
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>activities</h3>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="g2-activity">
    <ion-row>
      <ion-col offset-lg="1" offset-md="1" size="12" size-lg="10" size-md="10">
        <div class="intro">
          <p class="texte">
            Most activities are carried out at the peripheries, with an
            underprivileged population, facing lack of information and difficult
            accessibility. A few site amongst many others are :
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-lg="1" offset-md="1" size="12" size-lg="10" size-md="10">
        <div>
          <p class="texte">
            <small>Salapoumb</small>, located at the Eastern ragion of Cameroon
            towards the borders to Congo, inhabited by the Baka pygmies
          </p>
        </div>
        <div>
          <p class="texte">
            <small>Kentzou</small>, located at the borders of Cameroon to
            Central Africa, with a population consisting of the natives and
            refuges
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container">
    <div class="row">
      <div class="titre">
        <h4>Cervical cancer screening</h4>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            class="card-img-top"
            src="../../../assets/boris/IMG-20210519-WA0029.jpg"
            alt=""
          />

          <div class="card-body">
            <p class="card-text text-center">
              Sensitization on cervical cancer
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <div class="two-image">
            <div>
              <img
                class="card-img-top"
                src="../../../assets/boris/WhatsApp Image 2021-05-24 at 11.52.51.jpeg"
                alt=""
              />
            </div>
            <div><img src="../../../assets/boris/imageleft.jpg" alt="" /></div>
          </div>

          <div class="card-body">
            <p class="card-text text-center">Free cervical cancer screening</p>
          </div>
        </div>
      </div>
      <!--
        <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img src="../../../assets/boris/IMG-20210519-WA0031.jpg" alt="" />
          <div class="card-body">
            <p class="card-text  text-center">consultation</p>
          </div>
        </div>
      </div>
      -->
    </div>
    <div class="row">
      <div class="titre">
        <h4>Consultations</h4>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            src="../../../assets/boris/consultation (3).jpg"
            alt=""
          />

          <div class="card-body">
            <p class="card-text text-center">Ophtamology consultation</p>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            src="../../../assets/boris/consultation (1).jpg"
            alt=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dantal consultations</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            src="../../../assets/boris/covid19.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            src="../../../assets/boris/sensibilisation cancer.jpeg"
            alt=""
          />
        </div>
      </div>
      <div class="titre add-color">
        <h5>General consultation by GAHHC staff</h5>
      </div>
    </div>

    <div class="row">
      <div class="titre">
        <h4>Children and older persons</h4>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card text-center" style="height: 50px">
          <img
            style="width: 300px; height: 300px; position: relative; left: 25%"
            src="../../../assets/boris/pyg.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-4 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <img
            style="width: 100%"
            src="../../../assets/boris/pyg2.jpg"
            alt=""
          />
        </div>
      </div>
      <h5 class="add-color">
        Offering educational assistance, to the less privileged children and
        also assisting less privileged personns who are 60 years and above.
      </h5>
    </div>
    <div class="row" style="border-bottom: none">
      <div class="titre">
        <h4>Strategy Against covid-19</h4>
      </div>
      <div class="col-4 col-sm-12 col-lg-12 col-md-12">
        <div class="text-center">
          <img
            style="width: 100%"
            class="rounded"
            src="../../../assets/boris/covid19.jpg"
            alt=""
          />
        </div>
      </div>
      <h5 class="titre add-color">
        Sensitisation and the sharing of free face mask to the less privileged
        to fight against covid-19
      </h5>
    </div>
  </div>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-row class="footer-row">
        <ion-col sizeLg="2" sizeMd="2" sizeSm="12" sizeXs="12">
          <ion-button style="color: white" fill="clear">
            JOIN US ON:
          </ion-button></ion-col
        >
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openFacebook()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            facebook
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button style="color: white" (click)="openTwitter()" fill="clear">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            twitter
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openWhatsapp()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
            whatsapp
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6"
          ><ion-button
            style="color: white"
            (click)="openInstagram()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-instagram"></ion-icon>
            instagram
          </ion-button></ion-col
        >

        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6"> </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openInstagram()"
            fill="clear"
          >
            <ion-icon slot="start" name="call-outline"></ion-icon>
            TEL:+237 699 641 013
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="footer-secondRow" style="text-align: center">
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
          ><a href="">HELP</a></ion-col
        >
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">SITE MAP</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">PRIVACY POLICY</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">ACCESSIBILITY</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">TERMS OF USE</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">STATE FUNDRAISING</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">SITE COMMENTS</a>
        </ion-col>
        <ion-col
          sizeLg="5"
          sizeMd="8"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <div class="ion-text-center">
            <p>
              © 2021 GAHHC, Inc. All rights reserved. The GAHHC is a qualified
              501(c)(3) tax-exempt organization.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
