img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.list-div-text {
  margin-top: 50px;
}
.text-center {
  font-size: 20px;
  text-transform: lowercase;
}
ion-content {
  // --background: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
}

small {
  font-weight: bold;
}

@media (min-width: 768px) {
  ion-footer {
    p {
      font-size: 10px;
    }
  }
  small {
    font-weight: bold;
    font-size: 18px;
  }
  .intro {
    p {
      font-size: 22px;
      font-family: "Source Sans Pro", sans-serif;
    }
  }
  p {
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.row {
  margin-top: 2%;
  border-bottom: 1px dashed #f0ecec;
  .titre {
    text-align: center;
    text-transform: uppercase;

    h4 {
      text-decoration: underline;
      font-weight: 950;
    }
  }
}
.two-image {
  display: flex;
}

@media (min-width: 768px) {
  .card {
    // width: 100%;
  }
  .titre {
    margin-bottom: 2%;
  }

  .selector:not(*:root),
  .g2-activity {
    position: relative;
    bottom: 60px;
  }
  .selector:not(*:root),
  .container {
    position: relative;
    bottom: 90px;
  }
}
.card {
  border: none;
}
@-moz-document url-prefix() {
  .g2-activity {
    position: relative;
    // bottom: 10px;
  }
  .container {
    position: relative;
    bottom: 50px;
  }
}
.bg {
  --background: #f1f1f1;
}
.add-color {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.texte {
  font-family: Arial, "New Roman", sans-serif;
}
