<ion-content class="bg">
  <div class="hero">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>activities</h3>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="5">
        <div class="ion-text-uppercase">
          Most activities are carried out at the peripheries , with an
          inderprivileged population, facing lack of information and difficult
          accessibility a few site amongst many others are :
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="3" size="5">
        <div class="text-center">
          1- Salapoumb, located at the eastern ragion of cameroon towards the
          borders to congo, inhabited by the Baka pygmies.
        </div>
        <div class="text-center">
          2- KENTZOU, located at the borders of cameroon to central africa, with
          a population consisting of the natives and refuges.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img src="../../../assets/boris/IMG-20210519-WA0029.jpg" alt="" />

          <div class="card-body">
            <p class="card-text text-uppercase text-center">
              Cervical cancer screening
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img
            src="../../../assets/boris/WhatsApp Image 2021-05-24 at 11.52.51.jpeg"
            alt=""
          />

          <div class="card-body">
            <p class="card-text text-uppercase text-center">
              Sensitization on cervical cancer
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img src="../../../assets/boris/IMG-20210519-WA0031.jpg" alt="" />
          <div class="card-body">
            <p class="card-text text-uppercase text-center">consultation</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img
            src="../../../assets/boris/WhatsApp Image 2021-05-24 at 11.52.51.jpeg"
            alt=""
          />

          <div class="card-body">
            <p class="card-text text-uppercase text-center">
              Ophtamologic consultations
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-12 col-lg-4 col-md-4">
        <div class="card">
          <img src="../../../assets/boris/IMG-20210519-WA0030.jpg" alt="" />
          <div class="card-body">
            <p class="card-text text-uppercase">Surgical interventions</p>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-1 col-lg-4 col-md-4">
        <div class="card">
          <img src="../../../assets/boris/pygmé.png" alt="" />
          <div class="card-body">
            <p class="card-text text-uppercase text-center">
              Children and older persons
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      Offering educational assistance, to the less privileged children and also
      assisting less privileged personns who are 60 years and above.
    </div>
  </div>
</ion-content>
