<ion-content>
  <!--
        <ion-grid>
    <ion-row class="row">
      <ion-col
        class="col"
        size="12"
        size-sm="12"
        size-md="6"
        size-lg="6"
        size-xl="6"
      >
        <ion-slides pager="true" [options]="highlightSlideOpts">
          <ion-slide>
            <img src="../../../assets/boris/IMG-20210519-WA0031.jpg" />
          </ion-slide>

          <ion-slide>
            <img src="../../../assets/boris/IMG-20210519-WA0029.jpg" />
          </ion-slide>

          <ion-slide>
            <img src="../../../assets/boris/IMG-20210519-WA0034.jpg" />
          </ion-slide>
          <ion-slide>
            <img src="../../../assets/boris/IMG-20210519-WA0035.jpg" />
          </ion-slide>
          <ion-slide>
            <img src="../../../assets/boris/IMG-20210519-WA0033.jpg" />
          </ion-slide>
          <ion-slide>
            <img src="../../../assets/boris/IMG-20210519-WA0032.jpg" />
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col
        class="colRight"
        size="12"
        size-sm="12"
        size-md="6"
        size-lg="6"
        size-xl="6"
      >
        <ion-row>
          <ion-col size="6">
            <div class="ion-text-center ion-text-uppercase div1">
              GAHHC is a non profit association. The association avocates for
              health and humanitarian care. It's main objective is to reduce and
              prevent cervical cancer there by decreasing maternal and child
              mortality
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="ion-text-uppercase ion-text-center div2">
              - Free cervical cancer screening at Salapoumbe at the borders of
              Cameroon to Congo. - Sharing of face mask to prevent the spread of
              COVID 19 in areas where people have limited resources.
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-uppercase ion-text-center div3">
              - Free cervical cancer screening at Salapoumbe at the borders of
              Cameroon to Congo. - Sharing of face mask to prevent the spread of
              COVID 19 in areas where people have limited resources.
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center ion-text-uppercase div4">
              GAHHC is a non profit association. The association avocates for
              health and humanitarian care. It's main objective is to reduce and
              prevent cervical cancer there by decreasing maternal and child
              mortality
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content class="card">
            GAHHC is a non profit association. The association avocates for
            health and humanitarian care. It's main objective is to reduce and
            prevent cervical cancer there by decreasing maternal and child
            mortality. All activites are mostly carried out at the peripheries
            where populations have limited and no resources. free cervical
            cancer screening at Kentzou, located at the borders of Cameroon to
            Central Africa. - Free cervical cancer screening at Salapoumbe at
            the borders of Cameroon to Congo. - Sharing of face mask to prevent
            the spread of COVID 19 in areas where people have limited resources.
            - Surgical interventions for less privileged populations in need. -
            Ophtalmologic consultations. - Dental consultations. - Free general
            consultations. - Free malaria screening and treatment for children
            from 0-5 years of age. - Sensitizing women on cervical cancer. -
            Sensitizing the population on all other health conditions.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
     </ion-grid>
      -->
  <ion-row>
    <ion-col>
      <div class="ion-text-uppercase ion-text-center div2">
        - Free cervical cancer screening at Salapoumbe at the borders of
        Cameroon to Congo. - Sharing of face mask to prevent the spread of COVID
        19 in areas where people have limited resources.
      </div>
    </ion-col>
  </ion-row>
</ion-content>
