<ion-content>
  <div class="hero">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>Impact</h3>
          </div>
        </ion-col>
        <ion-col><div class="ion-text-end ion-text-uppercase"></div></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-row class="footer-row">
        <ion-col size="2">
          <ion-button color="light" fill="clear">
            JOIN US ON:
          </ion-button></ion-col
        >
        <ion-col size="1">
          <ion-button (click)="openFacebook()" fill="clear">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            facebook
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="openTwitter()" fill="clear">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            twitter
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="success" (click)="openWhatsapp()" fill="clear">
            <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
            whatsapp
          </ion-button>
        </ion-col>
        <ion-col size="1"
          ><ion-button color="danger" (click)="openInstagram()" fill="clear">
            <ion-icon slot="start" name="logo-instagram"></ion-icon>
            instagram
          </ion-button></ion-col
        >

        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col>
          <div>
            <p>
              © 2021 GAHHC, Inc. All rights reserved. The GAHHC is a qualified
              501(c)(3) tax-exempt organization.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
