<ion-content>
  <div class="hero">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>Impact</h3>
          </div>
        </ion-col>
        <ion-col><div class="ion-text-end ion-text-uppercase"></div></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-footer class="site-footer">
    <ion-toolbar color="dark">
      <ion-row class="footer-row">
        <ion-col size="1">HELP</ion-col>
        <ion-col size="1">SITE MAP</ion-col>
        <ion-col size="1">PRIVACY POLICY</ion-col>
        <ion-col size="1">ACCESSIBILITY</ion-col>
        <ion-col size="1">TERMS OF USE</ion-col>
        <ion-col size="1">STATE FUNDRAISING NOTICES</ion-col>
        <ion-col size="1">SITE COMMENTS</ion-col>
        <ion-col>
          <div>
            <p>
              © 2021 American Cancer Society, Inc. All rights reserved. The
              American Cancer Society is a qualified 501(c)(3) tax-exempt
              organization. Tax ID Number: 13-1788491. Cancer.org is provided
              courtesy of the Leo and Gloria Rosen family.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
