<ion-content>
  <div class="hero">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase overview">
            <h3>Impact</h3>
          </div>
        </ion-col>
        <ion-col><div class="ion-text-end ion-text-uppercase"></div></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-row class="footer-row">
        <ion-col sizeLg="2" sizeMd="2" sizeSm="12" sizeXs="12">
          <ion-button style="color: white" fill="clear">
            JOIN US ON:
          </ion-button></ion-col
        >
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openFacebook()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            facebook
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button style="color: white" (click)="openTwitter()" fill="clear">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            twitter
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openWhatsapp()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
            whatsapp
          </ion-button>
        </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6"
          ><ion-button
            style="color: white"
            (click)="openInstagram()"
            fill="clear"
          >
            <ion-icon slot="start" name="logo-instagram"></ion-icon>
            instagram
          </ion-button></ion-col
        >

        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6"> </ion-col>
        <ion-col sizeLg="1" sizeMd="1" sizeSm="6" sizeXs="6">
          <ion-button
            style="color: white"
            (click)="openInstagram()"
            fill="clear"
          >
            <ion-icon slot="start" name="call-outline"></ion-icon>
            TEL:+237 699 641 013
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="footer-secondRow" style="text-align: center">
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
          ><a href="">HELP</a></ion-col
        >
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">SITE MAP</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">PRIVACY POLICY</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">ACCESSIBILITY</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">TERMS OF USE</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">STATE FUNDRAISING</a>
        </ion-col>
        <ion-col
          sizeLg="1"
          sizeMd="1"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <a href="">SITE COMMENTS</a>
        </ion-col>
        <ion-col
          sizeLg="5"
          sizeMd="8"
          sizeSm="12"
          sizeXs="12"
          class="ion-align-self-center"
        >
          <div class="ion-text-center">
            <p>
              © 2021 GAHHC, Inc. All rights reserved. The GAHHC is a qualified
              501(c)(3) tax-exempt organization.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
